@model MVC_project.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Clinic_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docter.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment_date_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment_date_time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
